<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title> Table </title>
</head>
<body>
{% block body %}
<div class="container">
    <table class="table table-striped table-dark">
        {%with order_by=request.GET.order_by reverse=request.GET.reverse%}
        <thead>
        <tr>
            <th scope="col">
                <a href="{% url 'home' %}?order_by=brand__brand{% if order_by == 'brand__brand' and reverse != '1' %}&amp;reverse=1{%endif%}">
                brand
                {%if order_by == 'brand__brand' and reverse != '1' %}&uarr;
                {%elif order_by == 'brand__brand' and reverse == '1'%}&darr;
                {%endif%}
                </a>
            </th>
            <th scope="col">
                 <a href="{% url 'home' %}?order_by=model__model{% if order_by == 'model__model' and reverse != '1' %}&amp;reverse=1{%endif%}">
                model
                {%if order_by == 'model__model' and reverse != '1' %}&uarr;
                {%elif order_by == 'model__model' and reverse == '1'%}&darr;
                {%endif%}</a>
            </th>
            <th scope="col">
                <a href="{% url 'home' %}?order_by=category{% if order_by == 'category' and reverse != '1' %}&amp;reverse=1{%endif%}">
                category
                {%if order_by == 'category' and reverse != '1' %}&uarr;
                {%elif order_by == 'category' and reverse == '1'%}&darr;
                {%endif%}</a></th>
            <th scope="col">
                <a href="{% url 'home' %}?order_by=price{% if order_by == 'price' and reverse != '1' %}&amp;reverse=1{%endif%}">
                price
                {%if order_by == 'price' and reverse != '1' %}&uarr;
                {%elif order_by == 'price' and reverse == '1'%}&darr;
                {%endif%}</a>
            </th>

        </tr>
        </thead>
        {% endwith %}
        <tbody>
        {%block content%}
        {% for car in cars %}
        <tr>
            <th scope="row">{{car.brand}}</th>
            <td>{{car.model}}</td>
            <td>{{car.category}}</td>
            <td>{{car.price}}</td>
                   {%endfor%}
            <td>
                          <form action="" method="get">
                              {{form.as_p}}
                               <input type="submit" value="Search"/>
                          </form>
            </td>
        </tr>

        </tbody>
        {%endblock content%}
    </table>
</div>
{%endblock%}
</body>
</html>


